<mat-card>
  <mat-toolbar color="primary">
    <span>Novo Curso</span>
  </mat-toolbar>
    <form [formGroup]="form">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>name</mat-label>
        <input formControlName="name" matInput placeholder="Nome">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="front-end">Front-end</mat-option>
          <mat-option value="back-end">Back-end</mat-option>
          <mat-option value="fullstack">Fullstack</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions class="actions-center">
        <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button class="btn-space" (click)="onCancel()">Cancelar</button>
      </mat-card-actions>

    </form>
</mat-card>
